@tailwind base;
@tailwind components;
@tailwind utilities;

/* Roboto Font Faces */
@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Rubik Font Faces */
@font-face {
    font-family: 'Rubik';
    src: url('/src/assets/fonts/Rubik/static/Rubik-Light.ttf')
        format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('/src/assets/fonts/Rubik/static/Rubik-Regular.ttf')
        format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('/src/assets/fonts/Rubik/static/Rubik-Medium.ttf')
        format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('/src/assets/fonts/Rubik/static/Rubik-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('/src/assets/fonts/Rubik/static/Rubik-Black.ttf')
        format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Avenir Font Faces */
@font-face {
    font-family: 'Avenir';
    src: url('/src/assets/fonts/Avenir/Avenir-LT-Std-35-Light.otf')
        format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('/src/assets/fonts/Avenir/Avenir-LT-Std-45-Book.otf')
        format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('/src/assets/fonts/Avenir/Avenir-LT-Std-45-Book-Oblique.otf')
        format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: url('/src/assets/fonts/Avenir/Avenir-LT-Std-55-Roman.otf')
        format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('/src/assets/fonts/Avenir/Avenir-LT-Std-65-Medium.otf')
        format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('/src/assets/fonts/Avenir/Avenir-LT-Std-65-Medium-Oblique.otf')
        format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: url('/src/assets/fonts/Avenir/Avenir-LT-Std-85-Heavy.otf')
        format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('/src/assets/fonts/Avenir/Avenir-LT-Std-85-Heavy-Oblique.otf')
        format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: url('/src/assets/fonts/Avenir/Avenir-LT-Std-95-Black.otf')
        format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('/src/assets/fonts/Avenir/Avenir-LT-Std-95-Black-Oblique.otf')
        format('opentype');
    font-weight: 900;
    font-style: italic;
}
